.lvk-cart-app *{
    font-family: Acrobat;
    font-size: 14px;
    color: #4c2d46;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}